{{ define "main" }}
<article class="post-single">
  <header class="post-header">
    <div class="post-header-meta">
      <time datetime="{{ .Date.Format "2006-01-02" }}">{{ .Date.Format "2006.01.02" }}</time>
      <span class="post-header-sep">/</span>
      <span>Blog</span>
    </div>
    <h1>{{ .Title }}</h1>
  </header>
  <div class="post-content">
    {{ .Content }}
  </div>
  <nav class="post-nav">
    <a href="{{ "blog/" | relURL }}">
      <span class="post-nav-arrow">&larr;</span>
      <span>Back to Index</span>
    </a>
  </nav>
</article>
{{ end }}
